[submodule "roles/ansible-role-cluster-node"]
	path = roles/ansible-role-cluster-node
	url = git@github.com:redhat-consulting-services/ansible-role-cluster-node.git
[submodule "roles/ansible-role-cluster-bootstrap"]
	path = roles/ansible-role-cluster-bootstrap
	url = git@github.com:redhat-consulting-services/ansible-role-cluster-bootstrap.git
[submodule "roles/ansible-role-argocd-installation"]
	path = roles/ansible-role-argocd-installation
	url = git@github.com:redhat-consulting-services/ansible-role-argocd-installation.git
