- name: Bootstrap OpenShift Cluster
  hosts: localhost
  gather_facts: false
  become: false
  vars:
    iso_output_dir: /tmp/cluster/boostrap
    tenant_name: example
    cluster_name: ocp
    base_domain: example.com
  vars_files:
    - /workdir/cluster_config.yaml
  roles:
    - redhat_consulting_services.openshift.bootstrap_cluster

- name: Copy ISO to NFS Share
  hosts: localhost
  become: false
  connection: local
  vars:
    iso_nfs_share: /nfs/isos
    # bootfile_path is set by the bootstrap role to the generated ISO
    bootfile_path: "{{ bootfile_path }}"
  tasks:
    - name: Copy ISO files to NFS share (served by webserver)
      ansible.builtin.copy:
        src: "{{ bootfile_path }}"
        dest: "{{ iso_nfs_share }}/"
        mode: '0766'
        remote_src: yes

- name: Boot initial nodes from NFS ISO
  hosts: initial
  gather_facts: false
  become: false
  vars:
    nfs_url: "nfs.example.com:/nfs/isos/agent.x86_64.iso"
  tasks:
    - name: Force unmount any existing virtual media
      dellemc.openmanage.idrac_virtual_media:
        idrac_ip: "{{ host }}"
        idrac_user: "{{ user }}"
        idrac_password: "{{ password }}"
        validate_certs: false
        force: true
        virtual_media:
          - index: 1
            insert: false
      delegate_to: localhost

    - name: Insert virtual media ISO
      dellemc.openmanage.idrac_virtual_media:
        idrac_ip: "{{ host }}"
        idrac_user: "{{ user }}"
        idrac_password: "{{ password }}"
        validate_certs: false
        force: true
        virtual_media:
          - index: 1
            insert: true
            image: "{{ nfs_url }}"
      delegate_to: localhost

    - name: One-time boot with virtual media
      dellemc.openmanage.idrac_virtual_media:
        idrac_ip: "{{ host }}"
        idrac_user: "{{ user }}"
        idrac_password: "{{ password }}"
        validate_certs: false
        boot_source_override_mode: "uefi"
        boot_source_override_target: "cd"
        boot_source_override_enabled: "once"
      delegate_to: localhost

- name: Monitor cluster installation progress
  hosts: localhost
  gather_facts: false
  become: false
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  tasks:
    - name: Wait for cluster bootstrap to complete
      ansible.builtin.command: >
        openshift-install wait-for bootstrap-complete --dir {{ base_dir }} --log-level=debug

    - name: Wait for cluster installation to complete
      ansible.builtin.command: >
        openshift-install wait-for install-complete --dir {{ base_dir }} --log-level=debug

    - name: List cluster nodes
      ansible.builtin.command: >
        oc get nodes
      register: oc_get_nodes

- name: Setup initial OLM so OpenShift GitOps can be installed
  hosts: localhost
  gather_facts: false
  become: false
  environment:
    KUBECONFIG: "{{ kubeconfig_path }}"
  tasks:
    - name: Setup OpenShift v4 IDMS
      kubernetes.core.k8s:
        state: present
        src: /workdir/olm/idms_ocp4.yaml

    - name: Setup Red Hat Operator IDMS
      kubernetes.core.k8s:
        state: present
        src: /workdir/olm/idms_redhat.yaml

    - name: Setup Red Hat Operator Source
      kubernetes.core.k8s:
        state: present
        src: /workdir/olm/catalog_source_redhat.yaml

- name: Setup OpenShift GitOps
  hosts: localhost
  gather_facts: false
  become: true
  tags: bootstrap_gitops
  roles:
    - redhat_consulting_services.openshift.bootstrap_gitops
