{% for repo in repositories %}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ repo.name }}
  namespace: "{{ argocd.instance.namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
  annotations:
    managed-by: argocd.argoproj.io
type: Opaque
stringData:
  type: {{ repo.type }}
  url: {{ repo.url }}
{% if repo.authentication %}
{% if repo.authentication.username != "" or argocd.git.password != "" %}
  username: "{{ repo.authentication.username }}"
  password: "{{ repo.authentication.password }}"
{% endif %}
{% endif %}
{% if repo.type == "helm" and repo.enableOCI %}
  enableOCI: "{{ repo.enableOCI }}"
{% endif %}
{% if repo.insecure %}
  forceHttpBasicAuth: {{ repo.insecure | default(false) }}
{% endif %}
{% if repo.forceHttpBasicAuth %}
  forceHttpBasicAuth: {{ repo.forceHttpBasicAuth | default(false) }}
{% endif %}
{% endfor %}
