---
apiVersion: v1
kind: Secret
metadata:
  name: "git-repo-secret"
  namespace: "{{ argocd.instance.namespace }}"
  labels:
    argocd.argoproj.io/secret-type: repository
  annotations:
    managed-by: argocd.argoproj.io
type: Opaque
data:
  url: "{{ argocd.git.repo | b64encode }}"
  username: "{{ argocd.git.username | default('not_used') | b64encode }}"
  password: "{{ argocd.git.password | b64encode }}"
  type: "{{ 'git' | b64encode }}"
