---
apiVersion: v1
kind: Secret
metadata:
  name: {{ repository.name }}
  namespace: "{{ argocd.instance.namespace }}"
  labels:
    argocd.argoproj.io/secret-type: {{ repository.secret_type | default('repository') }}
  annotations:
    managed-by: argocd.argoproj.io
type: Opaque
stringData:
  type: {{ repository.type }}
  url: {{ repository.url }}
{% if repository.type == 'helm' and (repository.enableOCI | default(false) | bool) %}
  enableOCI: "true"
{% endif %}
{% if repository.project is defined and repository.project != "" %}
  project: "{{ repository.project }}"
{% endif %}
{% if repository.authentication is defined %}
{% if repository.authentication.username is defined and repository.authentication.username != "" %}
  username: "{{ repository.authentication.username }}"
{% endif %}
{% if repository.authentication.password is defined and repository.authentication.password != "" %}
  password: "{{ repository.authentication.password }}"
{% endif %}
{% if repository.type == "git" and repository.authentication.private_key is defined and repository.authentication.private_key != "" %}
  sshPrivateKey: |
{{ repository.authentication.private_key | indent(4, first=true) }}
{% endif %}
{% if repository.type == "git" and repository.authentication.github is defined %}
  githubAppID: "{{ repository.authentication.github.app_id }}"
  githubAppInstallationID: "{{ repository.authentication.github.app_installation_id }}"
  githubAppPrivateKey: |
{{ repository.authentication.github.private_key | indent(4, first=true) }}
{% if repository.authentication.github.enterprise_base_url is defined and repository.authentication.github.enterprise_base_url != "" %}
  githubAppEnterpriseBaseUrl: "{{ repository.authentication.github.enterprise_base_url }}"
{% endif %}
{% endif %}
{% if repository.type == "git" and repository.authentication.azure is defined %}
  azureServicePrincipalClientID: "{{ repository.authentication.azure.client_id }}"
  azureServicePrincipalTenantID: "{{ repository.authentication.azure.tenant_id }}"
  azureServicePrincipalClientSecret: "{{ repository.authentication.azure.client_secret }}"
{% endif %}
{% if repository.type == "git" and repository.authentication.gcp is defined %}
  gcpServiceAccountKey: |
{{ repository.authentication.gcp.service_account_key | indent(4, first=true) }}
{% endif %}
{% if repository.authentication.tls_client_cert is defined %}
  tlsClientCertData: |
{{ repository.authentication.tls_client_cert.cert_data | indent(4, first=true) }}
  tlsClientCertKey: |
{{ repository.authentication.tls_client_cert.cert_key | indent(4, first=true) }}
{% endif %}
{% endif %}
{% if repository.insecure is defined %}
  insecure: "{{ repository.insecure | default(false) | string | lower }}"
{% endif %}
{% if repository.forceHttpBasicAuth is defined and repository.forceHttpBasicAuth | bool %}
  forceHttpBasicAuth: "true"
{% endif %}
