---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ ca_bundle.name | default("user-ca-bundle") }}"
  namespace: "{{ argocd.instance.namespace | default("openshift-gitops") }}"
  labels:
    config.openshift.io/inject-trusted-cabundle: "true"
data: {}
