---
apiVersion: pipelines.openshift.io/v1alpha1
kind: GitopsService
metadata:
  name: cluster
spec:
  runOnInfra: true
{% if argocd.placement.tolerations is defined %}
  tolerations:
    {{ argocd.placement.tolerations | to_nice_yaml | indent(6) }}
{% endif %}
