---
apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: idms-gitops
spec:
  imageDigestMirrors:
    - source: registry.redhat.io/openshift-gitops-1
      mirrors:
        - "{{ mirror_registry }}/operators/openshift-gitops-1"
