---
apiVersion: config.openshift.io/v1
kind: ImageDigestMirrorSet
metadata:
  name: idms-gitops
spec:
  imageDigestMirrors:
{% set images = ['openshift-gitops-1', 'rhel9']  %}
{% for item in images %}
    - source: registry.redhat.io/"{{ item }}"
      mirrors:
{% if registry.repository is not defined or registry.repository == "" %}
        - "{{ registry.url }}/{{ item }}"
{% else %}
        - "{{ registry.url }}/{{ registry.repository }}/{{ item }}"
{% endif %}
{% endfor %}
