name: Build Ansible Collection

on:
  push:
    branches:
      - "**"
    tags: [v*]

env:
  ANSIBLE_COLLECTION_VERSION: ${{ github.ref_name }}
  dev_tag: "0.0.0-rc.0"

jobs:
  tag-lookup:
    runs-on: ubuntu-latest
    outputs:
      repo_tag: ${{ steps.repo_tag.outputs.repo_tag }}
      repo_tag_sanitized: ${{ steps.repo_tag.outputs.repo_tag_sanitized }}
      push: ${{ steps.repo_tag.outputs.push }}
      dev_tag: ${{ env.dev_tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Determine repository tag
        id: repo_tag
        run: |
          echo "GitHub event name: ${{ github.event_name }}"

          # Precompute latest tag (if any)
          TAG_NAME=$(git tag --sort=-v:refname | head -n 1)
          PUSH=false

          if [[ "${{ github.event_name }}" == "push" || "${{ github.event_name }}" == "pull_request" ]]; then
            if [[ -z "$TAG_NAME" ]]; then
              echo "No tags found in the repository."
              TAG_NAME=${{ env.dev_tag }}
            else
              PUSH=true
            fi
          else
            if [[ "${{ github.ref }}" == refs/tags/* ]]; then
              # Extract tag name from ref (e.g., refs/tags/v1.0.0 -> v1.0.0)
              TAG_NAME=${GITHUB_REF#refs/tags/}
              PUSH=true
            elif [[ -z "$TAG_NAME" ]]; then
              echo "No tags found in the repository."
              TAG_NAME=${{ env.dev_tag }}
            else
              PUSH=true
            fi
          fi
          echo "repo_tag=${TAG_NAME}" >> $GITHUB_OUTPUT
          echo "repo_tag_sanitized=${TAG_NAME#v}" >> $GITHUB_OUTPUT
          echo "push=${PUSH}" >> $GITHUB_OUTPUT

      - name: Output determined tag
        run: |
          echo "Determined repository tag: ${{ steps.repo_tag.outputs.repo_tag }}"
          echo "Push flag: ${{ steps.repo_tag.outputs.push }}"

  ansible-build-collection:
    uses: redhat-consulting-services/github-actions-collection/.github/workflows/ansible-galaxy.yaml@main
    permissions:
      contents: write
      packages: write
    needs: tag-lookup
    with:
      path: .
      push: ${{ needs.tag-lookup.outputs.push == 'true' }}
      version: ${{ needs.tag-lookup.outputs.repo_tag_sanitized }}
    secrets:
      galaxy_token: ${{ secrets.ANSIBLE_GALAXY_TOKEN }}

  build-execution-environment:
    permissions:
      contents: write
      packages: write
    needs:
      - tag-lookup
      - ansible-build-collection
    uses: ./.github/workflows/build-ee.yaml
    with:
      push: ${{ needs.tag-lookup.outputs.push == 'true' }}
      version: ${{ needs.tag-lookup.outputs.repo_tag }}
      ee_registry_url: ghcr.io
      ee_image_repo: "redhat-consulting-services/ee-openshift"
    secrets:
      registry_redhat_io_username: ${{ secrets.REGISTRY_REDHAT_IO_USERNAME }}
      registry_redhat_io_password: ${{ secrets.REGISTRY_REDHAT_IO_PASSWORD }}
      ee_registry_username: ${{ github.actor }}
      ee_registry_password: ${{ secrets.GITHUB_TOKEN }}
